<mat-toolbar id="allDestinationsToolbar">
    <mat-toolbar-row>
      <button mat-raised-button (click)="openAddModal()" color="accent" aria-label="Hinzufügen einer Reise">
        Reise hinzufügen
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>      
</mat-toolbar-row>
</mat-toolbar>

<app-destination-list
  [destination]="destinations | async"
></app-destination-list>