<div class="example-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        Reise
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="destinationForm"
        role="form"
        novalidate
      >
        <input matInput type="text" formControlName="id" class="hidden"/>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Beschreibung</mat-label>
          <input matInput type="text" formControlName="description" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Von</mat-label>
          <input matInput type="text" formControlName="fromDate" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Bis</mat-label>
          <input matInput type="text" formControlName="toDate" />
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="saveDestination()">Speichern</button>
        <button mat-raised-button color="accent" (click)="closeDestination()">Schließen</button>
      </form>
    </mat-card-content>
  </mat-card>
  </div>