<div class="example-container">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        Reise
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="destinationForm"
        role="form"
      >
        <input matInput type="text" formControlName="id" class="hidden"/>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name" />
          <mat-error
            *ngIf="destinationForm.controls.name.hasError('minlength')"
            >Name muss mindestens 4 Zeichen lang sein
          </mat-error>
          <mat-error
            *ngIf="destinationForm.controls.name.hasError('required')"
            >Name ist ein Pflichtfeld
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Beschreibung</mat-label>
          <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" type="text" formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Von</mat-label>
          <input  matInput type="text" formControlName="fromDate"/>
          <mat-error
            *ngIf="destinationForm.controls.fromDate.touched && destinationForm.controls.fromDate.errors?.['dateRangeMismatch']"
            >Bitte gültiges Datum eingeben!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Bis</mat-label>
          <input matInput type="text" formControlName="toDate" />
          <mat-error *ngIf="destinationForm.errors'dateRangeValidator'">
            Password does not match
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" (click)="saveDestination()">Speichern</button>
        <button mat-raised-button color="accent" (click)="closeDestination()">Schließen</button>
      </form>
    </mat-card-content>
  </mat-card>
  </div>